<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/termeh-travel/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mshfzd" />
            <add key="ClearTextPassword" value="75460070478bd2dae314c668b8e2b5fcd38b2e52" />
        </github>
    </packageSourceCredentials>
</configuration>